body {
  overflow-x: hidden;
  background: linear-gradient(#333333, #0d0d0d) fixed;
  font-family: Tilda Sans VF;
}

@font-face {
  font-family: "Tilda Sans VF";
  font-style: normal;
  font-weight: 400;
  src: url("resources/TildaSans-VF.ttf");
}

.topnav {
  position: sticky;
  left: 0;
  top: 0;
  background-color: transparent;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  color: black;
}

.topnav-right {
  float: right;
}

.outer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.outer {
  text-align: center;
  height: 100px;
  width: 100%;
  color: white;
}

.inner {
  margin-top: 15%;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: middle;
}

.logo {
  font-size: 3em;
}